{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "strict": 2,

    "default-case": 2,
    "comma-style": [2, "last"],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "eqeqeq": 1,
    "no-var": 2,
    "quotes": [2, "double"],
  }
}